.weather-card {
    max-width: 400px;
    margin-bottom: 200px;
    display: flex;
    justify-content: center;
    align-content: center;
}

agm-map {
    height: 300px;
}
  
.card-header {
    display: flex;
    justify-content: center;
    align-content: center;
}


.weather-image {
    height: 200px;
    width: 200px;
}